@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f6f7fb;
}
html, body {
  height: 100%;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.25s ease-out;
}
